{% extends 'base.html'%}

{% load static %}

{% block head%}
{%endblock head%}

{%block body%}
    <h1>Welcome {{profile.userinfo.username}}</h1>
    <img src="/media/{{profile.pic}}""  height="200px" width="150px">
    <h2>Blog Feed</h2>
    <a href="">Chat</a>
    <a href="updateform">profile</a>
    <a href="karamel">Blog Feed</a>
    <a href="blogform">Upload Blog</a>
    <a href="addfriend">Add Friends</a>
    <a href="friend">Friends</a>
 
    {% for blog in blogs %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="media/{{blog.blogpic}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">{{blog.description}}</p>
          <a href="#" class="btn btn-primary">{{blog.userinfo.username}}</a>
        </div>
      </div>

      {% endfor %}

{%endblock body%}