{% extends 'base.html'%}

{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'css/blogfeed.css' %}">
<title>KARAMEL | BLOGFEED</title>
{%endblock head%}

{%block body%}
<section id="blog">
  <span>Recently Uploaded Blog</span>
  <h3>KARAMEL BLOGS</h3>
</section>

<div class="blog-container">
  {% for blog in blogs %}
  <div class="blog-box">

    <div class="blog-img">
      <img src="/media/{{blog.blogpic}}" alt="Blog Image">
  </div>
    <div class="blog-text">
      <span style="float:right">Time</span>
      <a href="#" class="blog-title">{{blog.title}}</a>
      <p>{{blog.description}}
      </p>
      <a href="#">Read More</a>
      <span style="float:right;">Uploaded by {{blog.userinfo.username}}</span>
    </div>
  </div>

  {% endfor %}

</div>

{%endblock body%}