{% extends 'base.html'%}

{% load static %}

{% block head%}

<link rel="stylesheet" href="{% static 'css/blogfeed.css' %}">
<title>KARAMEL | BLOGFEED</title>
{%endblock head%}

{%block body%}
<section id="blog">
  <span>Recently Uploaded Blog</span>
  <h3>KARAMEL BLOGS</h3>
</section>

<div class="blog-container">
  {% for blog in blogs %}
  <div class="blog-box" class="{{blog.id}}">

    <div class="blog-img">
      <img src="/media/{{blog.blogpic}}" alt="Blog Image" height="250px">
  </div>
    <div class="blog-text" id="box">
      <span style="float:right">{{blog.dandt}}</span>
      <a href="#" class="blog-title">{{blog.title}}</a>
      <p id="{{blog.id}}">{{blog.description}}
      </p>
      <a href="#" id="id{{blog.id}}" onclick="update('{{blog.id}}')">Read More</a>
      <a href="#" id="id1{{blog.id}}" onclick="updateless('{{blog.id}}')" style="display: none;">Read Less</a>
      <span style="float:right;">Uploaded by {{blog.userinfo.username}}</span>
    </div>
  </div>

  {% endfor %}

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
  function update(a)
  {
    var x = document.getElementById(a);
    x.style.height = "350px";
    var y = document.getElementById("id"+a)
    var z = document.getElementById("id1"+a)
    y.style.display = "none";
    z.style.display="block";
  }
</script>

<script>
  function updateless(a)
  {
    var x = document.getElementById(a);
    x.style.height = "60px";
    var y = document.getElementById("id"+a)
    var z = document.getElementById("id1"+a)
    z.style.display = "none";
    y.style.display="block";
  }
</script>

{%endblock body%}