{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karamel</title>

    <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>
<body>

    <div class="banner-area">
        <header>
            <a href="#" style="font-size: 24px;">KARAMEL</a>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login">Chat Now</a></li>
            </ul>
        </header>

        <div class="banner-text">
            <h2>KARAMEL</h2>
            <p>Let's Chat with Friends...Connect to KARAMEL</p>
            <a href="login" id="get">Let's Get Started</a>
        </div>
    </div>

</body>
</html>