{% extends 'base.html'%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">


{% endblock head %}

{% block body %}

<div id="container">
    <aside>
        <header>
            <input type="text" placeholder="search">
        </header>
        

        <ul>
            {% for prof in profile %}
            <a onclick="chatit('{{prof.userinfo.username}}')">
            <li>
                <img src="media/{{prof.pic}}" alt="" height="80" width="80" style="border-radius:50%;">
                <div>
                    <h2>
                        {{prof.userinfo.username}}
                    </h2>
                    <h3>
                       {{prof.status}}
                    </h3>
                </div>
            </li>
        </a>
            {% endfor %}
        </ul>

        
    </aside>
    <main>
        <header>
            
            <div id="info" style="display: none;">
                
                <h2 id="infoh2"></h2>

            </div>
        </header>
        <ul>
            <div id="chat">

            </div>
        </ul>
        <footer>
            <div id="guest">
            <form id="chatForm" >
                {% csrf_token %}
            <textarea placeholder="Type your message" id="msg" style="float:left"></textarea>
            <input type="hidden" value="" id="chatt">
            <button style="float:right;">Send</a>
            </form>
            </div>
        </footer>
    </main>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    $(document).on('submit', '#chatForm', function(e){
        e.preventDefault();
        console.log("IN FUNCTION");
        $.ajax({
            type:'POST',
            url:'/sendchat',
            data:{
                touser:$("#chatt").val(),
                message:$("#msg").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },

            success:function(data){},
        });
        document.getElementById("msg").value = '';
    });
</script>

<script>
    function chatit(a)
    {
        document.getElementById("info").style.display = "block";
        document.getElementById("guest").style.display = "block";
        document.getElementById("infoh2").innerHTML = a;
        document.getElementById("chatt").value = a;
        
        setInterval(function(){
            $.ajax({
                type:'POST',
                url:'/getchat',
                data:{
                    chatto:$("#chatt").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },

                success: function(response)
                {
                    $("#chat").empty();
                    myself = response.self;
                    message = response.message;
                    for(var i in response.message)
                    {
                        if(message[i].fromuser == myself)
                        {
                            
                            $("#chat").append( `<li class="me"><div class="entete"><span class="status green"></span><h3>${message[i].date}</h3></div><div class="triangle"></div><div class="message">${message[i].message}</div></li>`);
                        }
                        else{
                            
                            $("#chat").append(`<li class="you"><div class="entete"><span class="status green"></span><h3>${message[i].date}</h3></div><div class="triangle"></div><div class="message">${message[i].message}</div></li>`);
                        }
                    }
                    
                    
                }
            });
        },1000);

    }
</script>

{% endblock body %}