{% extends 'base.html'%}

{% block head %}

<style>
    .arrow{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .right{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .myclass{
        margin-top: 4%;
        margin-bottom: 4%;
    }


</style>

{% endblock head %}

{% block body %}

<div class="container">
   <div>
       {% for prof in profile %}
       <div class="myclass">
         <table>
             <tr>
                 <td>
                     
                     <img src="media/{{prof.pic}}" height="60px" width="60px" style="border-radius:60%; float:left; vertical-align: middle;">
                 </td>
                 <td>
                     <p>{{prof.userinfo.username}}</p>

                 </td>
                 <td>

                     <button class="btn btn-primary" name="{{prof.userinfo.username}}" value="{{prof.userinfo.username}}" style="margin-right:0%; float: right;" onclick="chatit(this)"><i class="arrow right"></i></button>
                 </td>
             </tr>
         </table>

        </div>
       {% endfor %}
   </div> 
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    function chatit(a)
    {
        var x = a.value;
        form = document.createElement('form');
        form.setAttribute('method', 'POST');
        form.setAttribute('action', '/getchat');
        myvar = document.createElement('input');
        myvar.setAttribute('name', 'chatto');
        myvar.setAttribute('type', 'hidden');
        myvar.setAttribute('value', x);
        form.appendChild(myvar);
        document.body.appendChild(form);
        form.submit();
    }
</script>

{% endblock body %}