{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>KARAMEL | Sign Up</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="/register" method="POST">
                {% csrf_token %}
				<h2>KARAMEL</h2>
				<span style="color: red;">{{duplicate_user}}</span>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<!-- <h5>Name</h5> -->
           		   		<input type="text" class="input" name="name" placeholder="Name" required>
           		   </div>
           		</div>
                   <div class="input-div one">
                    <div class="i">
                            <i class="fa fa-envelope"></i>
                    </div>
                    <div class="div">
                            <!-- <h5>Email</h5> -->
                            <input type="email" class="input" name="email" placeholder="Email" required>
                    </div>
                 </div>
                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="div">
                            <!-- <h5>Mobile</h5> -->
                            <input type="text" class="input" name="mobile" placeholder="Mobile" required>
                    </div>
                 </div>
                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-calendar-alt"></i>
                    </div>
                    <div class="div">
                            <input type="date" class="input" name="dob" style="color:#999;" required>
                    </div>
                 </div>
                 <div class="input-radio one">
                    <div class="i">
                            <i class="fa fa-venus-mars"></i>
                    </div>
                    <div class="div">
                        
                            <label class="mylabel">Gender</label>
                            <label class="genlabel">Male</label>
                            <input type="radio" name="gender" value="male" required>
                            <label class="genlabel">Female</label>
                            <input type="radio" name="gender" value="female">
                           
                    </div>
                 </div>

                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            
                            <!-- <h5>Username</h5> -->
                            <input type="text" class="input" name="uname" placeholder="Username" required>
                    </div>
                 </div>


           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<!-- <h5>Password</h5> -->
           		    	<input type="password" class="input" name="pass" placeholder="Password" required>
            	   </div>
            	</div>
				

				<a href="/login" style="margin-top: 2%; margin-bottom: 2%;">Already User?</a>
            	<button class="btn">Sign Up</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <script>

    </script>
</body>
</html>