{% extends 'base.html' %}

{% block head %}
<style>
    table{
        margin: 0 auto;
    }
    h3{
        text-align: center;
    }
</style>
{%endblock head%}
{%block body%}
    <h3>Upload Blog</h3>
    <div class="container">
    <form action="uploadblog" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    Enter Title:
                </th>
                <td>
                    <input type="text" name="title">
                </td>
            </tr>

            <tr>
                <th>
                    Choose Image:
                </th>
                <td>
                    <input type="file" name="blogpic">
                </td>
            </tr>
            
            <tr>
                <th>
                    Description:
                </th>
                <td>
                    <textarea type="text" rows="25" name="blogdes"></textarea>
                </td>
            </tr>

            <tr>
                <th>
                    Reference:
                </th>
                <td>
                    <textarea type="text" rows="5" name="blogref"></textarea>
                </td>
            </tr>

            <tr>
                <th>
                    <input type="reset" value="Reset">
                </th>
                <td>
                    <input type="submit" value="submit">
                </td>
            </tr>

        </table>

    </form>
</div>
{%endblock body%}